.navbar{
    background-color:  rgb(60, 171, 179);
    color: white;
    height: 150px;
    margin-right: 50px;

}
#word{
    color: white;
}



.get{
   background-color:  rgb(60, 171, 179);
   border-radius: 50px;
}
#gg{
    margin-left: 130px;
    margin-top: -27px;
}
#t{
    background-color: rgb(60, 171, 179);
    height: 300px;
    width: 96.5%;
    margin-right: 50px;
    border-radius: 10px;
    /* margin-left: 10px; */

}


#image{
    float: right;
    margin-top: -120px;
    margin-right: 250px;
    margin-left: 30px;

    }
     #s{
        margin-left: 250px;
        margin-top: 80px;
        height: 100px;
        width: 300px;
        /* text-align: ; */
     }
     #sa{
        margin-left: 250%;
        width: 300px;
        height: 100px;
        margin-top: -100px;
    /* 
        margin-left: 60%;
        margin-bottom: 300px;
        height: 100px;
        width: 300px; */
    }
    /* #logo{
        margin-top: 450px;
    } */    
    .sli{
        align-items: center;
        justify-content: center;
        margin-top: 600px;
    }
    @keyframes scroll{
        0%{
            transform: translateX(0);
        }
        100%{
            transform: translateX(calc(-150px * 7));
        }
    }
    
    
     .slider{
        
        height: 100px;
        overflow: hidden; 
         position: relative; 
         width: 100%;
        margin-bottom: -100px;
    }
     .slider .slide-track{ 
           /* animation: scroll  linear infinite;  */
        display: flex;  
         width: calc(150px * 4);  
    } 
#e{
    height:200px;
    width: 200px;
}
.car{
margin-left: 400px;
}
video{
    width: 100px;
    height: 100px;
}
#city{
    margin-left: 120px;
    border-radius: 20px;
}



#as {
    background:white;
    font-family: montserrat;
	display: grid;
	place-items: center;
	height: 100vh;
    margin-top: 250px;
}
.section-header{
    position: relative;
    padding-bottom: 10px;
    text-align: center;
    font-weight: 900;
    padding-bottom: 25px;
    color: #fff;
}
.section-header:after{
    content: '';
    height: 3px;
    width: 200px;
    position: absolute;
    bottom: 0;
    left: calc(50% - 100px);
    background: #fff;
}
.section-header span {
	display: block;
	font-size: 15px;
	font-weight: 300;
}
.testimonials{
    max-width: 1000px;
    padding: 0 15px 50px;
    margin: 0 auto 80px auto;
}
.single-item{
    background: #fff;
    color: #111;
    padding: 15px;
    margin: 50px 15px;
}
.profile{
    margin-bottom: 30px;
    text-align: center;    
}
.img-area {
	margin: 0 15px 15px 15px;
}
.img-area img {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border: 7px solid blueviolet;
}
.content{
    font-size: 18px;
}
.content p {
	text-align: justify;
}
.content p span {
	font-size: 48px;
	margin-right: 20px;
    color: blueviolet;
}
.socials i {
	margin-right: 25px;
}
.bio h4 {
	font-family: 'Berkshire Swash', cursive;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
	background-color: blueviolet;
}
#mas{
    margin-right: 50px;
    
}
.mob1{
    width: 200px;
    height: 400px;
}

 .local{
    width: 100%;
    min-height: 100vh;
    background: white;
 } 
 .local h2{
    color:black;
    font-size: 32px;
    padding: 50px 0;
    text-align: center;
 }
 .price-row{
    width: 90%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 25px;
 }
 .price-col{
    background:#1f283b;
    padding: 10% 15%;
    border-radius: 10px;
    color: white;
    text-align: center;
 }

 .price-col p{
    font-size: 22px;
 }
 .price-col h3{
    font-size: 44px;
    margin: 20px 0 40px;
    font-weight: 500;
 }
 .price-col h3 span{
font-size: 16px;
 }
 .price-col ul{
    text-align: left;
    margin: 20px 0;
    color: #ddd;
    list-style: none;
 }
 .price-col ul li{
    margin: 15px 0 ;
 }
 .price-col ul li:before{
    content: '\2023';
    color: #e33058;
    font-weight: bold;
    margin-right: 8px;
 }
 .price-col button{
    width:100px;
    padding: 14px 0;
    background: transparent;
    color: #fff;
    font-size: 15px;
    border: 1px solid #e33058;
    border-radius: 6px;
    margin-top: 30px;
    cursor: pointer;
    transition: background 0.5s;

}
.price-col button:hover{
    background: #e33058;
}
.list-group{
    margin-left: 600px;
    margin-right: 40px;
}
#sas{
    margin-top: -300px;
    margin-left: 100px;

    
}
.sos{
margin-left: 100px;
}
#vara{
    margin-top:300px;
    margin-left: 580px;
}
.nail{
   margin-left: 40px;
   margin-right: 40px;
}
#rt{
    width: 50px;
    height: 50px;
    border-radius: 400%;
    margin-left: 10px;
}
#lp{
    margin-left: 40px;
    margin-top: -55px;
}
.footer{
    background-color:  rgb(60, 171, 179);
    margin-right: 40px;
}

